<div class="font-weight-medium shadow-none position-relative overflow-hidden mb-4">
  <div class="card-body px-0">
    <div class="d-flex justify-content-between align-items-center">
      <div>
        <h4 class="font-weight-medium ">@@title</h4>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a class="text-primary text-decoration-none" href="./index.html">@@subtitle
              </a>
            </li>
            <li class="breadcrumb-item d-flex justify-content-center align-items-center ps-0">
              <iconify-icon icon="tabler:chevron-right"></iconify-icon>
            </li>
            <li class="breadcrumb-item" aria-current="page">@@title</li>
          </ol>
        </nav>
      </div>
      <div>
        <div class="d-flex no-block justify-content-end align-items-center">
          <div class="me-2">
            <div class="breadbar"></div>
          </div>
          <div class="">
            <small>LAST MONTH</small>
            <h4 class="text-primary mb-0 font-medium">$58,256</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
