<div
    th:fragment="modal"
    class="modal fade error_modal"
    id="errorModal"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="errorModalLabel"
    aria-hidden="true"
>
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="errorModalTitle">Error</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="errorModalText"></div>
                <a class="btn btn-success errorModalBtn" href="" id="errorModalRedirect"></a>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success errorModalBtn" id="errorModalConfirm">Continuar</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
