<div class="brand-logo d-flex align-items-center justify-content-between">
    <a href="../../rtl/index.html" class="text-nowrap logo-img">
      <b class="">
        <img
          src="../../assets/images/logos/logo-light-icon.svg"
          alt="homepage"
          class=""
        />
      </b>
      <!--End Logo icon -->
      <!-- Logo text -->
      <span class="">
        <img
          src="../../assets/images/logos/logo-light-text.svg"
          class=" ps-2"
          alt="homepage"
        />
      </span>
    </a>
  </div>
  
  
  