<!DOCTYPE html>
<html lang="en" dir="ltr" data-bs-theme="dark" data-color-theme="Blue_Theme" xmlns:th="http://www.thymeleaf.org">
    <head>
        <th:block th:replace="partials/head :: head"></th:block>
    </head>

    <body>
        <th:block th:replace="partials/scripts :: scripts"></th:block>

        <div id="main-wrapper">
            <th:block th:replace="partials/preloader :: preloader"></th:block>

            <div class="body-wrapper">
                <th:block th:replace="partials/header :: header"></th:block>

                <div class="container-fluid">
                    <th:block th:replace="partials/breadcrumb :: breadcrumb"></th:block>

                    <main th:replace="${content} :: content"></main>

                    <th:block th:replace="partials/modal :: modal"></th:block>
                </div>
            </div>
        </div>

        <th:block th:replace="partials/footer :: footer"></th:block>
        <th:block th:replace="partials/searchBar :: searchBar"></th:block>

        <script th:src="@{/js/pages/main.js}"></script>
    </body>
</html>
