
<div
  class="d-flex border-bottom align-items-center justify-content-between py-3 px-4"
>
  <div class="mb-0 fs-4 fw-medium h6">Notifications</div>
</div>
<div class="message-body" data-simplebar>
  <a
    href="javascript:void(0)"
    class="p-3 pe-0 d-flex align-items-center dropdown-item gap-3 border-bottom"
  >
    <span
      class="flex-shrink-0 bg-danger-subtle rounded-circle round d-flex align-items-center justify-content-center fs-6 text-danger"
    >
      <iconify-icon icon="solar:widget-3-line-duotone"></iconify-icon>
    </span>
    <div class="w-75 d-inline-block v-middle">
      <div class="d-flex align-items-center justify-content-between">
        <h6 class="mb-0 ">Luanch Admin</h6>
        <span class="fs-2 text-nowrap d-block text-muted">9:30 AM</span>
      </div>
      <span class="fs-3 d-block text-truncate text-truncate"
        >Just see the my new admin!</span
      >
    </div>
  </a>
  <a
    href="javascript:void(0)"
    class="p-3 pe-0 d-flex align-items-center dropdown-item gap-3 border-bottom"
  >
    <span
      class="flex-shrink-0 bg-success-subtle rounded-circle round d-flex align-items-center justify-content-center fs-6 text-success"
    >
      <iconify-icon icon="solar:calendar-mark-line-duotone"></iconify-icon>
    </span>
    <div class="w-75 d-inline-block v-middle">
      <div class="d-flex align-items-center justify-content-between">
        <h6 class="mb-0 ">Event today</h6>
        <span class="fs-2 text-nowrap d-block text-muted">9:10 AM</span>
      </div>

      <span class="fs-3 d-block text-truncate text-truncate"
        >Just a reminder that you have event</span
      >
    </div>
  </a>
  <a
    href="javascript:void(0)"
    class="p-3 pe-0 d-flex align-items-center dropdown-item gap-3 border-bottom"
  >
    <span
      class="flex-shrink-0 bg-primary-subtle rounded-circle round d-flex align-items-center justify-content-center fs-6 text-primary"
    >
      <iconify-icon
        icon="solar:settings-minimalistic-line-duotone"
      ></iconify-icon>
    </span>
    <div class="w-75 d-inline-block v-middle">
      <div class="d-flex align-items-center justify-content-between">
        <h6 class="mb-0 ">Settings</h6>
        <span class="fs-2 text-nowrap d-block text-muted">9:08 AM</span>
      </div>
      <span class="fs-3 d-block text-truncate text-truncate"
        >You can customize this template as you want</span
      >
    </div>
  </a>
  <a
    href="javascript:void(0)"
    class="p-3 pe-0 d-flex align-items-center dropdown-item gap-3 border-bottom"
  >
    <span
      class="flex-shrink-0 bg-warning-subtle rounded-circle round d-flex align-items-center justify-content-center fs-6 text-warning"
    >
      <iconify-icon icon="solar:link-circle-line-duotone"></iconify-icon>
    </span>
    <div class="w-75 d-inline-block v-middle">
      <div class="d-flex align-items-center justify-content-between">
        <h6 class="mb-0 ">Luanch Admin</h6>
        <span class="fs-2 text-nowrap d-block text-muted">9:30 AM</span>
      </div>
      <span class="fs-3 d-block text-truncate text-truncate"
        >Just see the my new admin!</span
      >
    </div>
  </a>
  <a
    href="javascript:void(0)"
    class="p-3 pe-0 d-flex align-items-center dropdown-item gap-3 border-bottom"
  >
    <span
      class="flex-shrink-0 bg-success-subtle rounded-circle round d-flex align-items-center justify-content-center"
    >
      <i data-feather="calendar" class="feather-sm fill-white text-success"></i>
    </span>
    <div class="w-75 d-inline-block v-middle">
      <div class="d-flex align-items-center justify-content-between">
        <h6 class="mb-0 ">Event today</h6>
        <span class="fs-2 text-nowrap d-block text-muted">9:10 AM</span>
      </div>
      <span class="fs-3 d-block text-truncate text-truncate"
        >Just a reminder that you have event</span
      >
    </div>
  </a>
  <a
    href="javascript:void(0)"
    class="p-3 pe-0 d-flex align-items-center dropdown-item gap-3 border-bottom"
  >
    <span
      class="flex-shrink-0 bg-primary-subtle rounded-circle round d-flex align-items-center justify-content-center"
    >
      <i data-feather="settings" class="feather-sm fill-white text-primary"></i>
    </span>
    <div class="w-75 d-inline-block v-middle">
      <div class="d-flex align-items-center justify-content-between">
        <h6 class="mb-0 ">Settings</h6>
        <span class="fs-2 text-nowrap d-block text-muted">9:08 AM</span>
      </div>
      <span class="fs-3 d-block text-truncate text-truncate"
        >You can customize this template as you want</span
      >
    </div>
  </a>
</div>
<div >
  <a
    class="d-flex align-items-center pt-3 pb-2 justify-content-center h6 mb-0"
    href="javascript:void(0);"
  >
    <span class="">Check all notifications</span>
    <i data-feather="chevron-right" class="feather-sm"></i>
  </a>
</div>
